/**
 * -----------------------------------------------
 * Last Modified: 2018-08-29 16:45:56
 * Author: nykim (nykim@nykim.net)
 * Description: Iconest CSS
 * -----------------------------------------------
 */

.display-none { display: none; }

@font-face { font-family: "NotoSans"; font-weight: 500; src: url(../fonts/NotoSansR.woff2) format("woff2"), url(../fonts/NotoSansR.woff) format("woff"); }

@font-face { font-family: "NotoSans"; font-weight: 300; src: url(../fonts/NotoSansL.woff2) format("woff2"), url(../fonts/NotoSansL.woff) format("woff"); }

@font-face { font-family: "NotoSans"; font-weight: 700; src: url(../fonts/NotoSansB.woff2) format("woff2"), url(../fonts/NotoSansB.woff) format("woff"); }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, small article, aside, footer, header, nav, address, section, main, time, ol, ul, li, hr, strong, figure, tr, th, td, dl, dt, dd, fieldset { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-text-size-adjust: none; font-style: normal; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

[tabindex="-1"]:focus { outline: 0 !important; }

ul, ol, li, dl { list-style: none; }

a:link, a:visited, a:hover, a:active { text-decoration: none; font-family: "NotoSans", AppleGothic, sans-serif, Helvetica; font-weight: 500; color: #000; outline: 0; }

button { display: block; margin: 0; padding: 0; font-family: "NotoSans", AppleGothic, sans-serif, Helvetica; font-weight: 500; border: 0; -webkit-appearance: none; -webkit-border-radius: 0; background: none; cursor: pointer; }

button:focus { outline: 0; }

i { font-style: normal; }

a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea { -ms-touch-action: manipulation; touch-action: manipulation; }

table { border-collapse: collapse; }

caption { padding-top: 0.75rem; padding-bottom: 0.75rem; color: #868e96; text-align: left; caption-side: bottom; }

th { text-align: inherit; }

input { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: "NotoSans", AppleGothic, sans-serif, Helvetica; font-weight: 500; width: 100%; margin: 0; padding: 0; box-sizing: border-box; vertical-align: top; border-radius: 0; -webkit-border-radius: 0px; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: 0; background-color: transparent; border: 1px solid transparent; }

html { position: relative; width: 100%; min-width: 100%; min-height: 100%; height: 100%; line-height: 1.15; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -ms-overflow-style: scrollbar; -webkit-tap-highlight-color: transparent; font-size: 62.5%; }

body { position: relative; min-height: 100%; height: 100%; overflow-y: scroll; font-family: "NotoSans", AppleGothic, sans-serif, Helvetica; font-weight: 500; text-align: left; font-weight: 400; line-height: 1.5; background-color: #fff; }
