@charset "utf-8";

// **** variables

// -------------------------
// [ path ]
// -------------------------
$path-image: "../images/";
$path-font: "../fonts/";

$hello: #2218ac;
$hi: #ff0;
