@charset "utf-8";

// **** Font

// λ…Έν† μ‚°μ¤
$NotoSansR: "NotoSansR";
$NotoSansL: "NotoSansL";
$NotoSansB: "NotoSansB";

@font-face {
  font-family: "NotoSans";
  font-weight: 500;
  src: url(#{$path-font}#{$NotoSansR}.woff2) format("woff2"),
    url(#{$path-font}#{$NotoSansR}.woff) format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 300;
  src: url(#{$path-font}#{$NotoSansL}.woff2) format("woff2"),
    url(#{$path-font}#{$NotoSansL}.woff) format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: url(#{$path-font}#{$NotoSansB}.woff2) format("woff2"),
    url(#{$path-font}#{$NotoSansB}.woff) format("woff");
}
